.container {
  width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.app-subtitle-icon {
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 48px;
  font-weight: 600;
  color: #090909a8;
  width: fit-content;
  font-family: cursive;
  margin: 10px 0;
}

.lst-images {
  margin: 65px 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.image-item {
  width: 185px;
  height: 185px;
  background-color: aqua;
}

.btn-Follow {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  padding: 30px 85px;
  background-color: #383435;
  font-family: "Courgette", cursive;
}

.btn-Follo-a {  
  color: #fff;
  text-decoration: none;
}

.image-item {
    background-repeat: no-repeat;
    background-size: cover;
}

.isHover {
  cursor: pointer;
  transition: background-color .5s ease;
}

.isHover:hover {
  background-color: #ecb65b;
}