<!-- slider -->
<app-slide style="width: 100%; display: block;"></app-slide>

<app-welcome-store></app-welcome-store>

<app-coffe-blends></app-coffe-blends>

<app-blog-update></app-blog-update>

<div class="ForUsUpdate">
    <p class="header">Sign Up For Our Updates!</p>
    <form action="#">
        <input type="text" name="email" placeholder="Enter Email...">
        <button type="submit">Submit</button>
    </form>
</div>

<app-team-store></app-team-store>

<app-instagram-store></app-instagram-store>

<app-map-store [type]="1" style="width: 1820px; margin: auto; display: block;"></app-map-store>