<div class="container">
    <div class="services-store">
        <ul>
            <li>
                <div class="service-store-item">
                    <div class="item-icon ishover"><i class="fa-solid fa-store"></i></div>
                    <p class="item-title">VISIT US</p>
                    <p class="item-title-se">find our cafe</p>
                    <p class="item-content">We purchase the best coffee beans all over the world</p>
                </div>
            </li>
            <li>
                <div class="service-store-item">
                    <div class="item-icon ishover"><i class="fa-solid fa-chart-simple"></i></div>
                    <p class="item-title">BREWING</p>
                    <p class="item-title-se">view the recipes</p>
                    <p class="item-content">A brewed drink prepared from roasted beans is coffee</p>
                </div>
            </li>
            <li>
                <div class="service-store-item">
                    <div class="item-icon ishover"><i class="fa-solid fa-champagne-glasses"></i></div>
                    <p class="item-title">MASTERCLASSES</p>
                    <p class="item-title-se">book a class</p>
                    <p class="item-content">Events take place throughout the day without a break</p>
                </div>
            </li>
            <li>
                <div class="service-store-item">
                    <div class="item-icon ishover"><i class="fa-solid fa-beer-mug-empty"></i></div>
                    <p class="item-title">HARDWARE</p>
                    <p class="item-title-se">visit online store</p>
                    <p class="item-content">Find everything for brewing coffee at our shop</p>
                </div>
            </li>
        </ul>
    </div>
</div>