<div class="contrainer">
    <app-subtitle-icon [textIconSubtitle]="'HAVE A QUESTION?'"></app-subtitle-icon>
    <form action="#">
        <p class="header">DROP A LINE</p>
        <input type="text" name="name" id="name" placeholder="Name*" class="w-49 pd h-65 inp">
        <input type="text" name="e-mail" id="mail" placeholder="E-mail*" class="w-49 pd h-65 inp">
        <textarea type="text" name="messages" id="messages" placeholder="Messages*" class="h-300 w-65 w-100 pd inp tar"></textarea>
        <button type="submit" class="btn btn-sub h-65 pd w-200">Send Messages</button>
    </form>
</div>