<div class="info-store" 
    [class.info-store-type-1] = "type === 1"
    [class.info-store-type-2] = "type === 2"
>
    <!-- info-store-type-1 info-store-type-2 -->
    <div class="info-store-item">
        <p class="info-store-item-header">PHONE</p>
        <p class="info-store-item-content isHover">039 3370 172</p>
    </div>
    <div class="info-store-item">
        <p class="info-store-item-header">ADDRESS</p>
        <p class="info-store-item-content">TP. HỒ CHÍ MINH</p>
    </div>
    <div class="info-store-item">
        <p class="info-store-item-header">EMAIL</p>
        <p class="info-store-item-content isHover">nguyenminhhieuuuu.18&#64;gmail.com</p>
    </div>
    <div class="info-store-item">
        <p class="info-store-item-header">HOURS</p>
        <p class="info-store-item-content">8AM-10PM</p>
    </div>
</div>