.container {
    max-width: 975px;
    margin: auto;
}

.event-container {
    width: 100%;
    display: flex;
    padding: 55px 0;
    justify-content: space-evenly;
    background-color: #fbc65f;
}

.event-text {
    font-size: 26px;
    font-family: sans-serif;
}

.moreInfo {
    border: none;
    outline: none;
    font-size: 22px;
    padding: 15px 45px;
    background-color: #202020;
    color: #fff;
    font-style: italic;
    font-family: auto;
}

.event-container img {
    height: 70px;
    width: 120px;
}