<div class="container">
    <div class="copyright-text"><a href="#">MinhHieu</a> © 2024. All rights reserved.</div>
    <img class="copyright-logo" [ngSrc]="imgLogo" height="68" width="244" alt="/assets/logo.jpg" priority>
    <ul class="copyright-socials">
        <li>
            <a href="#">
                <i class="fa-brands fa-square-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-square-pinterest"></i>
            </a>
        </li>
    </ul>
</div>