.container {
    width: 100%;
    margin: auto;
}

.container iframe {
    width: 100%;
    height: 300px;
}

.container-type-2 {
    /* width: 1820px; */
    display: flex;
    justify-content: space-between;
}

.container-type-2 iframe {
    width: 50%;
}

.w-50 {
    width: 50%;
}